.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.img {
  position: relative;
}

.banner {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  color: black;
  font-size: 0.9rem;
  padding: 5px 10px;
}

.rating {
  display: flex;
  gap: 3px;
}

.rating img {
  max-width: 15px;
}

.ratingAmout,
.ratingLocation,
.divider {
  color: #918e9b;
}

.price {
  font-weight: 600;
}
.perPerson {
  font-weight: 300;
}
