.hero {
  padding-inline: 30px;
  padding-top: 30px;
  margin-bottom: 40px;
}

.heroImg {
  display: flex;
  justify-content: center;
}

.hero h1 {
  font-size: 36px;
  margin-top: 30px;

  margin-bottom: 15px;
}

.hero p {
  max-width: 32ch;
}
